@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext);
html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  height: 100%;
}

/* #__next {
    height: 100%;
} */

h1 {
  font-size: 8em;
}

h2 {
  font-size: 5em;
  font-weight: 100;
}

h3 {
  font-size: 3em;
  font-weight: 100;
}

.light {
  font-weight: 100;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.flex {
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-weight: 100;
  font-size: 1.1em;
  color: #333;
}

